# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.env
nosetests.xml
coverage.xml
*.cover
*.log
*.egg-info/
dist/
build/
*.so

# Database
kuberai.db
*.sqlite3

# VSCode
.vscode/
.history/

# macOS
.DS_Store
